* {
  box-sizing: border-box;
}

html, body, * {
  font-size: 16px;
  font-weight: 500;
  font-family: 'Lato', sans-serif !important;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  color: #2e5394;
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
  max-width: 100%;
  height: 100%;
  background-color: #fff;
  overflow-x: hidden;
}

h1 {
  font-size: 20px;
  font-weight: 900;
}

h2 {
  line-height: 35px;
  font-size: 35px;
  font-weight: 700;
  padding: 10px 0 10px 0;
  color: inherit;
}

i {
  display: inline-block;
  color: #ff6600;
}

P {
  line-height: 160%;
  color: inherit;
}

a:link, a:visited {
  text-decoration: none;
  color: inherit;
}

.clearfix {
  zoom: 1;
}

.clearfix:after {
  content: '.';
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}

.icon {
  margin-bottom: 15px;
  line-height: 1;
}

.icon:before {
  font-family: rozcestnik_font !important;
  font-style: normal;
  font-size: 2.3em;
  font-weight: normal !important;
  vertical-align: middle;
}

#scrollPrompter {
  position: absolute;
  left: 50%;
  bottom: 70px;
  margin-left: -9px;
  opacity: 0;
  z-index: 20;
  transition: opacity .3s;
  animation: anim 3s infinite;
}

@keyframes anim {
  0% {
    transform: translate3d(0, 0, 0) scale(1) rotate(0.01deg);
    animation-timing-function: cubic-bezier(0.375, 0.845, 0.59, 0.99);
  }
  50% {
    transform: translate3d(0, 20px, 0) scale(1) rotate(0.01deg);
    animation-timing-function: cubic-bezier(0.375, 0.845, 0.59, 0.99);
  }
  100% {
    transform: translate3d(0, 0, 0) scale(1) rotate(0.01deg);
    animation-timing-function: cubic-bezier(0.375, 0.845, 0.59, 0.99);
  }
}

#container {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  margin-top: 4vh;
  display: block;
}

#container .section-colorize {
  background-color: #F1F5FD;
}

#container .btn-1-pos,
#container btn-2-pos,
#container btn-3-pos,
#container btn-4-pos {
  float: left;
}

#container .btn-1-pos,
#container .btn-2-pos,
#container .btn-3-pos,
#container .btn-4-pos {
  background-color: #ebebeb;
}

#container .btn-1-pos {
  background-color: #dde8ff;
}

#container .btn-2-pos {
  background-color: #F1F5FD;
}

#container .btn-3-pos {
  background-color: #F1F5FD;
}

#container .btn-4-pos {
  background-color: #dde8ff;
}

/*#container .section {
  display: table;
  position: relative;
  width: 50%;
  height: 47vh;
  !*max-height: $section-height !important;*!
  float: left;
  overflow: hidden; }*/

#container .disable-txt {
  color: #787878;
}

#container .content {
  /*display: table-cell;*/
  border-collapse: collapse;
  border-spacing: 0;
  vertical-align: middle;
  margin: 0;
  height: 100%;
  padding: 15px 7%;
  transform: scale(1, 1);
  overflow: hidden;
}

#container .content p {
  font-size: 16px;
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
  float: inherit;
  padding: 0px 20px 25px 20px;
}

#container .content ul {
  padding: 0 20px 0 20px;
}

#container .content ul li {
  display: inline-block;
  list-style-type: none;
  padding: 5px;
  font-weight: 500;
}

#container .content ul li:last-child {
  display: inline;
}

#container .content a:link, #container .content a:visited {
  text-decoration: none;
  color: inherit;
}

#container .content a:hover {
  /*color: rgba(255,102,0, 1);*/
}

#container .content a:hover span {
  color: #ff6600;
  border-bottom: 3px solid #ff6600;
}

#container .content .disable {
  color: #787878;
  cursor: default;
}

#container .content .disable span {
  color: #787878;
  border-bottom: 3px solid rgba(0, 0, 0, 0.2);
}

#container .content .disable:hover span {
  color: #787878;
  border-bottom: 3px solid rgba(0, 0, 0, 0.2);
}

#container .content .disable-icon {
  color: #787878;
}

#container .content .docs {
  font-weight: 900;
}

#container a {
  font-size: 22px;
  font-weight: 700;
}

#container span {
  display: inline-block;
  font-size: 18px;
  font-weight: 700;
  border-bottom: 3px solid rgba(46, 83, 148, .2);
  padding-bottom: 8px;
}

#header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #2e5394;
  /*background: linear-gradient(to left, $grey-bg-color 50%, #fff 50%);*/
  z-index: 10;
}

#header h1 {
  user-select: none;
  cursor: default;
  float: right;
  text-align: right;
  color: #fff;
  padding: 9px 42px 0 0;
}

#header #logo {
  float: left;
  top: 0;
  left: 0;
  width: 100px;
  height: auto;
  -webkit-backface-visibility: hidden;
  -ms-transform: translateZ(0);
  /* IE 9 */
  -webkit-transform: translateZ(0);
  /* Chrome, Safari, Opera */
  transform: translateZ(0);
  margin: 8px 0 8px 42px;
}

#footer {
  position: fixed;
  float: none;
  width: 100%;
  bottom: 0;
  /*min-height: 1vh;*/
  background-color: #2e5394;
}

#footer p {
  color: #fff;
  max-width: 100%;
  text-align: center;
  padding: 3px 42px 3px 0;
}

#footer p a:hover {
  color: #ff6600;
}

/*@media (max-height: 900px) {
  #container .content {
    transform: scale(0.9, 0.9); }
  #container .content p {
    font-size: 18px; } }
@media (max-height: 768px) {
  #container .content {
    transform: scale(0.8, 0.8); }
  #container .content p {
    font-size: 20px; } }
@media (max-height: 650px) {
  #container .content {
    transform: scale(0.7, 0.7); }
  #container .content p {
    font-size: 20px; } }
@media (max-width: 767px) {
  #footer {
    position: relative;
    float: left; }
  #footer p {
    padding: 10px 10px; }

  #header #logo {
    margin: 5px 0 5px 22px; }
  #header h1 {
    padding: 7px 22px 5px 0; }

  #container .section {
    width: 100%; }
  #container .content {
    transform: scale(1, 1);
    padding: 40px 0; }
  #container .content p {
    font-size: 16px; }
  #container .btn-1-pos,
  #container btn-2-pos,
  #container btn-3-pos,
  #container btn-4-pos {
    float: none; }
  #container .btn-2-pos,
  #container .btn-4-pos {
    background-color: #F1F5FD; }
  #container .btn-3-pos {
    background: none; } }
@media (max-width: 598px) {
  #container {
    !*margin-top: 75px;*! } }
@media (max-width: 450px) {
  #header #logo {
    width: 90px;
    margin: 5px 0 5px 15px; }
  #header h1 {
    font-size: 16px;
    padding: 7px 15px 0 0; } }*/

/*# sourceMappingURL=main.css.map */
