@font-face {
	font-family: "rozcestnik_font";
	src: url("../fonts/rozcestnik_font.eot?6ac5497118234b39630243d61500bf60?#iefix") format("embedded-opentype"),
url("../fonts/rozcestnik_font.woff?6ac5497118234b39630243d61500bf60") format("woff");
}
.icon-btn-2:before {
	content: "\f101";
}
.icon-btn-3:before {
	content: "\f102";
}
.icon-btn-4:before {
	content: "\f103";
}
.icon-mouse:before {
	content: "\f104";
}
.icon-btn-1:before {
	content: "\f105";
}


